:root {
  --verde-escuro: #14424b;
  --verde: #2f9364;
  --laranja: #ff7c37;
  --degrade-btn: linear-gradient(#fe9611, #ff5c00);
  --color-p: #a1a1a1;
  --color-p-2: #868585;
}
body {
  font-family: "Poppins", sans-serif;
  color: var(--degrade-btn);
}
