:root {
  --verde-escuro: #14424b;
  --verde: #2f9364;
  --laranja: #ff7c37;
  --degrade-btn: linear-gradient(#fe9611, #ff5c00);
  --color-p: #a1a1a1;
  --color-p-2: #868585;
}
body {
  font-family: "Poppins", sans-serif;
  color: var(--degrade-btn);
}
.background-verde {
  background: var(--verde-escuro);
}
/* classes reutilizáveis */
.container {
  max-width: 1400px;
  padding: 0px 5%;
  margin: 0 auto;
}
.container nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0px;
}
.logo a {
  font-size: 30px;
  font-weight: bold;
  color: whitesmoke;
}

.ul {
  display: flex;
  align-items: center;
}
.ul li {
  margin: 0px 35px;
  font-size: 15px;
}
.ul li a {
    color: whitesmoke;
}
