:root {
  --verde-escuro: #14424b;
  --verde: #2f9364;
  --laranja: #ff7c37;
  --degrade-btn: linear-gradient(#fe9611, #ff5c00);
  --color-p: #a1a1a1;
  --color-p-2: #868585;
}
body {
  font-family: "Poppins", sans-serif;
}
.background-verde {
  background: var(--verde-escuro);
}
/* classes reutilizáveis */
.container {
  max-width: 1400px;
  padding: 0px 5%;
  margin: 0px auto;
  background: var(--verde-escuro);
}
.container nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0px;
}
.logo a {
  font-size: 30px;
  font-weight: bold;
  color: whitesmoke;
}

.ul {
  align-items: center;
  display: flex;
}
.ul li {
  font-size: 15px;
  margin: 10px 35px;
}
.ul li a {
  color: whitesmoke;
}
.btn-gradiente {
  background-image: var(--degrade-btn, linear-gradient(#fe9611, #ff5c00));
  padding: 10px 25px;
  border: none;
  color: white;
  cursor: pointer;
}
/* MAIN */
main .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
}

.main-text {
  color: white;
  width: 50%;
}

div .main-text h1 {
  font-size: 4.5rem;
}
.core {
  display: flex;
  text-align: center;
  align-items: center;
  margin-top: 20px;
}

.main-img {
  width: 50%;
}
.main-img img {
  width: 100%;
}
/* menu icon */
.menu-icon {
  display: none;
}

/* RESPONSIVIDADE MIDIA */
@media (max-width: 960px) {
  .menu-icon {
    display: block;
  }
  .ul {
    position: fixed;
    background-color: red;
    top: 0px;
    width: 100%;
    height: 100%;
    left: 100%;
  }
}
